@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

body {
  position: relative;
  font-family: "Kaushan Script", cursive;
}

.head {
  position: absolute;
  /* color: rgb(242, 245, 250); */
  color: #bf5454;
  top: 20px;
  right: 50px;
  font-size: 24px;
}

.content {
  display: flex;
}

.left {
  padding-right: 10px;
  padding-left: 120px;
  font-size: 22px;
}

.right {
  margin-top: 80px;
  font-size: 22px;
}

.message {
  display: none;
}
